body {
    margin: 0;
  }
  
  .main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    background: white;
  }
  
  .main-container .image-container {
    flex: 1;
    background: white;
    height: 100%;
  }
  
  .main-container h1 {
    flex: 1;
    text-align: center;
    color: #111;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
  }
  